<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Registro</title>
</head>
<body>
    <header>
        <div id="cabecera">
            <div id="logo">
                <a href="index.html">
                    <img src="/img/logo-mercado-liebre.svg"/>
                </a>
            </div>
            <div id="barra-busqueda">
                <input type="text" placeholder="Buscar productos, marcas"> 
                <a href="#">
                    <i class="fas fa-search"></i>   
                </a>
            </div>
            <div id="texto-cabecera">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        <nav>
            <div id="menus">
                <div id="menu-1">
                    <a href="/views/index.html"> Ofertas </a>
                    <a href="#"> Tiendas Oficiales </a>
                    <a href="#"> Vender </a>
                    <a href="#"> Ayuda </a>
                </div>
                <div id="menu-2">
                    <a href="/views/register.html"> Creá tu cuenta </a>
                    <i class="far fa-id-card"></i>
                    <a href="/views/singup.html"> Ingresá </a>
                    <i class="fas fa-sign-in-alt"></i>
                    <a href="#"> Mis compras </a>
                    <i class="fas fa-shopping-basket"></i>
                </div>
            </div>
        </nav>
        <div id="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="" method="POST" class="form-register">
            <div class="form-control">
                <input type="text" name="nombre-apellido" placeholder="Nombre y apellido" minlength="8">
            </div>
            <div class="form-control">
                <input type="text" name="nombre-usuario" placeholder="Nombre de usuario" minlength="3">
            </div>
            <div class="form-control">
                <input type="email" name="e-mail" placeholder="E-mail" minlength="10">
            </div>
            <div class="form-control">
                <label class="titulo">Fecha de nacimiento</label>
                <input type="date" name="fecha-nacimiento" value="2000-01-01" min="1921-01-01" max="2005-01-01">
            </div>
            <div class="form-control">
                <textarea type="text" name="domicilio" rows="4" placeholder="Domicilio" minlength="10"></textarea>
            </div>
            <div class="form-control-check">
                <label class="titulo">Perfil de usuario</label>
                <div id="perfil-register">
                    <label>
                        <input type="radio" name="perfil-usuario" value="Comprador" checked>
                        Comprador
                    </label>
                    <label>
                        <input type="radio" name="perfil-usuario" value="Vendedor">
                        Vendedor
                    </label>
                </div>
            </div>
            <div class="form-control-check">
                <label class="titulo">Intereses</label>
                <label>
                    <input type="checkbox" name="intereses" value="Electro">
                    Electro
                </label>
                <label>
                    <input type="checkbox" name="intereses" value="Moda">
                    Moda
                </label>
                <label>
                    <input type="checkbox" name="intereses" value="Hogar">
                    Hogar
                </label>
                <label>
                    <input type="checkbox" name="intereses" value="Jugueteria">
                    Jugueteria
                </label>
                <label>
                    <input type="checkbox" name="intereses" value="Vida sana">
                    Vida sana
                </label>
            </div>
            <div class="form-control">
                <label class="titulo">Foto de usuario (.jpg)</label>
                <input type="file" name="foto" accept=".jpg">
            </div>
            <div class="form-control">
                <input type="password" name="password-usuario" placeholder="Contraseña" minlength="8">
            </div>
            <div class="form-control">
                <input type="password" name="password-usuario" placeholder="Confirmar contraseña" minlength="8">
            </div>
            <div id="botones-register">
                <button type="submit" class="button-form">enviar</button>
                <button type="reset" class="button-form">borrar</button>
            </div>
        </form>
    </main>
    <footer>
        <div id="footer-desktop">
            <section>
                <div><i class="fas fa-credit-card"></i></div>
                <strong> Pagá con tarjeta o en efectivo </strong>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>    
            </section>
            <section>
                <div><i class="fas fa-gift"></i></div>
                <strong> Envío gratis desde $ 2.500 </strong>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>    
            </section>
            <section>
                <div><i class="fas fa-user-shield"></i></div>
                <strong> Seguridad, de principio a fin </strong>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>    
            </section>
        </div>
        <section>
            <p id="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>  
        </section>
    </footer>
</body>
</html>