*​  {
    margin: ​0px​;
    padding: ​0px​;
    box-sizing: ​border-box​; 
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
}

header {
    background-color: rgb(254, 237, 98);
}

header form {
    width: 50px;
}

main {
    background-color: #ebebeb;
    margin: 10px;
} 

footer {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

footer i {
    font-size: 2em;
    color: rgb(43, 90, 188);
    margin-top: 30px;
    margin-bottom: 10px;
}

footer section {
    text-align: center;
}

footer strong {
    font-size: 16px;
}

footer p {
    margin-top: 0px;
}

img {
    width: 100%;     
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

article {
    margin: 15px;
}

#cabecera {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#logo, #barra-busqueda, #texto-cabecera{
    width: 30%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#barra-busqueda i {
    margin: 10px;
    font-size: 1.5em;
}

#barra-busqueda input {
    width: 50%;
    padding: 8px;
}

#barra-busqueda input:focus {
    width: 50%;
    padding: 8px;
}

#texto-cabecera i {
    margin: 10px;
    font-size: 1.5em;
}

#texto-cabecera p {
    font-size: 1.5em;
}

#menus {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-weight: bold;
}

#menu-1, #menu-2 {
    width: 50%;
    text-align: center;
    padding: 10px;
}

#menu-1 a {
    padding-left: 20px;
    color: rgb(172, 162, 77);
}

#menu-2 a {
    padding-left: 20px;
    color: rgb(0, 0, 0);
}

#menu-1 a:hover {
    color: black;
}

#burger-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}       

#burger-menu i {
    font-size: 20px;
    padding: 7px;
    color: white;
    background-color: rgb(43, 90, 188);
    border-radius: 6px;
}

#copyright {
    text-align: left;
    margin-bottom: 0px;
    padding-top: 30px;
}

#ultima-vista, #ofertas {
    display: flex;
    flex-wrap: wrap;
}

#form-singup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#singup-button button {
    width: 100%;
    padding: 5px 5px;
    color: rgb(232, 232, 232);
    background-color: rgb(50, 124, 242);
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 17.5px;
}

#singup-button button:hover {
    background-color: rgb(40, 97, 187);
    color: rgb(255, 255, 255);
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

.precio {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5px;
    display: inline;
}

.descripciones {
    font-size: 16px;
    font-weight: bold;
}

.titulo-seccion {
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
}

.descripcion-producto {
    padding: 15px;
    background-color: white;
    border-top: solid 1px #ebebeb;
    position: relative;
}

.descripcion-producto i {
    font-size: 16px;
    width: 25px;
    height: 25px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 50%;
    border: 1px solid #39b54a;
    background-color: white;
    color: #39b54a;
    top: -20px;
    right: 20px;
    position: absolute;
}

/* form-register */
#main-register {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

main h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#form-container-register {
    width: 35%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#perfil-register {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    padding: 10px;
}

#button-register {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#button-register button {
    width: 75px;
    padding: 5px 5px;
    color: rgb(232, 232, 232);
    background-color: rgb(50, 124, 242);
    border-radius: 10px;
    font-size: 17.5px;
}

#button-register button:hover {
    background-color: rgb(40, 97, 187);
    color: rgb(255, 255, 255);
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

.title-register {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: bolder;
}

.form-register {
    padding: 30px;
}

.form-control-register {
    margin-bottom: 15px;
}

.form-control-register label {
    display: block;
}

.form-control-register input, .form-control-register textarea {
    width: 95%;
    padding: 5px;
    resize: none;
}

.form-control-register input:invalid, .form-control-register textarea:invalid {
    border: 3px solid rgb(255, 0, 0);
}

.form-control-check-register label {
    display: block;
    margin-bottom: 15px;
}
/* form-register */

.singup-input, #singup-button {
    width: 50%;
}

.singup-input input {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 25px;
}

.singup-input input:invalid {
    border: 3px solid rgb(255, 0, 0);
}

.descripcion-producto .descripciones {
    display: none;
} 

@media (max-width: 942px) {
    header nav {
        display: none;
    }

    .form-control-register input, .form-control-register textarea {
        width: 100%;
        resize: none;
    }

    #logo, #barra-busqueda {
        width: 42%;
    }

    #barra-busqueda input {
        width: 60%;
        padding: 4px;
    }

    #texto-cabecera {
        font-size: 0.9em;
        width: 100%;
    }

    /* form-register */
    #main-register {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }

    main h2 {
        font-size: 1.75em;
        font-weight: bold;
        text-align: center;
    }

    .title-register {
        font-size: 1.2em;
    }

    #perfil-register {
        font-size: 1em;
    }

    #form-container-register {
        width: 100%;
    }

    #button-register button {
        padding: 2px 1px;
        font-size: 1.2em;
        width: 75px;
    }
    /* form-register */
}

@media (min-width: 942px) {
    article {
        width: 45%;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article:hover .descripcion-producto .descripciones {
        display: block;
    }

    article:hover .descripcion-producto i {
        animation: camion 1s 1;
    }

    #texto-cabecera p {
        font-size: 1.2em;
    }

    #ultima-vista, #ofertas {
        justify-content: space-around;
    }

    #burger-menu {
        display: none;
    }
}

@media (min-width: 1366px) {
    article {
        width: 22%;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article:hover .descripcion-producto .descripciones {
        display: block;
    }

    article:hover .descripcion-producto i {
        animation: camion 1s 1;
    }

    #texto-cabecera p {
        font-size: 1.5em;
    }

    #ultima-vista, #ofertas {
        justify-content: space-around;
    }

    #burger-menu {
        display: none;
    }

    #footer-desktop {
        display: flex;
        justify-content: space-around;
    }
}

@keyframes camion {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(45deg);
    }
}